# Data Structure

- Ref 25_1001_list
- Ref 25_1002_Nested Data Structure
- Ref 25_1003_Conversion

https://github.com/Maruf2309

Maruf Hossain



### List Characteristics

- Mutable/ Changeable
- Ordered Sequence
- Allow Duplicate
- Accessible
- Different kind of values can be stored
- Use Square Bracked [ ] with comma seperation

### Topic

- List Access/ Indexcing
- List Method (Append, Extend, Delete, Pop, Remove, Replace, Insert, count, index, Reverse, len, sort, clear, copy )
- Shallow Copy Vs Deep Copy
- List Constructor
- input list from user
- List Pairing
- indexcing pair list
- Multiple values update together
- Set
- Dictionary
- Nested Data Structure
- Object/ Type Conversion

In [1]:
l1 = [2,3,4,5,8]

In [2]:
l1

[2, 3, 4, 5, 8]

In [3]:
type(l1)

list

## Test 2: List

In [101]:
data = [4, 4.55, 3, 3, 6, 8, 2, True, "Str", 3+5j]
data

[4, 4.55, 3, 3, 6, 8, 2, True, 'Str', (3+5j)]

In [105]:
# Indexcing
data[0]
data[-1]  # last one
data[::] # all
data[::-1]  # reverse

[(3+5j), 'Str', True, 2, 8, 6, 3, 3, 4.55, 4]

In [107]:
# update
data[0] = 44  # first index updatated by 44
data

[44, 4.55, 3, 3, 6, 8, 2, True, 'Str', (3+5j)]

In [108]:
data[2:4] = 10,10
data

[44, 4.55, 10, 10, 6, 8, 2, True, 'Str', (3+5j)]

## Indexing / List Slicing

In [4]:
l1[0]

2

In [5]:
l1[2]

4

In [6]:
l1[-1] # Negative Indexing

8

In [7]:
l1[0:2]

[2, 3]

In [8]:
l1[0:3]

[2, 3, 4]

In [9]:
l1[0:5]

[2, 3, 4, 5, 8]

In [10]:
l1[2:4]  # When Accessing 4, 5

[4, 5]

In [11]:
l1[3:5] # When Accessing 5, 8

[5, 8]

In [12]:
l1[1:3]

[3, 4]

In [13]:
l1[1:4]

[3, 4, 5]

In [14]:
l1[1:5]

[3, 4, 5, 8]

In [15]:
l1[0] = 'Replace1'

In [16]:
l1 # It is mutable

['Replace1', 3, 4, 5, 8]

### Append

In [17]:
l1.append('Bangladesh')

In [18]:
l1

['Replace1', 3, 4, 5, 8, 'Bangladesh']

In [19]:
l1.append(5) # Check duplication allow

In [20]:
l1

['Replace1', 3, 4, 5, 8, 'Bangladesh', 5]

## Memory Size

In [21]:
import sys
sys.getsizeof(l1)

120

In [22]:
l1.pop()

5

In [23]:
l1

['Replace1', 3, 4, 5, 8, 'Bangladesh']

## Pop

In [24]:
l1.pop()

'Bangladesh'

In [25]:
l1

['Replace1', 3, 4, 5, 8]

In [26]:
l1.pop(0)

'Replace1'

In [27]:
l1

[3, 4, 5, 8]

# Creating List by using List Constructor

In [28]:
l2 = list(('ai', 12, (1,2,3,4)))

In [29]:
l2

['ai', 12, (1, 2, 3, 4)]

In [30]:
type(l2)

list

In [31]:
l2[2]

(1, 2, 3, 4)

In [32]:
l2[2][0:4] # alternative  [Start:End]

(1, 2, 3, 4)

In [33]:
l2[2][2:4]  # Accessing last two

(3, 4)

In [34]:
l2[0]

'ai'

In [35]:
l2[1]

12

In [36]:
l2[2][1:3]

(2, 3)

In [37]:
l2[2][1:4]

(2, 3, 4)

In [38]:
# Input list from user
l3 = []
n = int(input('Enter your Total index: '))

for i in range(n):
    new = input()
    l3.append(new)
    print(l3)

Enter your Total index: 5
5
['5']
2
['5', '2']
2
['5', '2', '2']
2
['5', '2', '2', '2']
2
['5', '2', '2', '2', '2']

In [39]:
# Input list from user
l3 = []
n = int(input('Enter your Total index: '))

for i in range(n):
    new = input()
    l3.append(new)
print(l3)

Enter your Total index: 1
1
['1']

In [40]:
user = ['Rahim', 'Karim','Rita']

In [41]:
user

['Rahim', 'Karim', 'Rita']

In [42]:
del user[0]

In [43]:
user

['Karim', 'Rita']

In [44]:
len(user)

2

In [45]:
user.extend(['Suman', 'Himel', 'Sarwar', 'Ripon'])

In [46]:
user

['Karim', 'Rita', 'Suman', 'Himel', 'Sarwar', 'Ripon']

In [47]:
user [0:3]  # [Start: End: Step Size]

['Karim', 'Rita', 'Suman']

In [48]:
user [:3]  # alternive, no need to mention zero, just keep blank

['Karim', 'Rita', 'Suman']

In [49]:
user [2::2]

['Suman', 'Sarwar']

In [50]:
user [2::3]    # [start 0, all element e.g blank: step size=3]

['Suman', 'Ripon']

# Replace

In [51]:
namelist = ['Karim', 'Rupa', 'Rima', 'Kajol', 'Mamun']
namelist

['Karim', 'Rupa', 'Rima', 'Kajol', 'Mamun']

In [52]:
namelist[1] = 'Jhumur'  # replace rupa which index is 2

In [53]:
namelist

['Karim', 'Jhumur', 'Rima', 'Kajol', 'Mamun']

In [54]:
namelist[4] = 'Palash'   # replace rupa which index is 4

In [55]:
namelist

['Karim', 'Jhumur', 'Rima', 'Kajol', 'Palash']

# Insert

In [56]:
fruits = ['Apple','Orange','Mango','Banana','Lichy','Pineaple']
fruits

['Apple', 'Orange', 'Mango', 'Banana', 'Lichy', 'Pineaple']

In [57]:
fruits.insert(2,'Date')  # insert date before mango, which index is 2

In [58]:
fruits

['Apple', 'Orange', 'Date', 'Mango', 'Banana', 'Lichy', 'Pineaple']

In [59]:
fruits.insert(3,'Water Melon')

In [60]:
fruits

['Apple',
 'Orange',
 'Date',
 'Water Melon',
 'Mango',
 'Banana',
 'Lichy',
 'Pineaple']

In [61]:
print(fruits) # alternative

['Apple', 'Orange', 'Date', 'Water Melon', 'Mango', 'Banana', 'Lichy', 'Pineaple']

In [62]:
print(fruits, end=',')

['Apple', 'Orange', 'Date', 'Water Melon', 'Mango', 'Banana', 'Lichy', 'Pineaple'],

In [63]:
fruits.insert(5,'Lemon')

In [64]:
print(fruits)

['Apple', 'Orange', 'Date', 'Water Melon', 'Mango', 'Lemon', 'Banana', 'Lichy', 'Pineaple']

# Pairing List/ Combine list

In [65]:
a = ['Rose','WaterLilly','Sunflower','Merigold']

In [66]:
a

['Rose', 'WaterLilly', 'Sunflower', 'Merigold']

In [67]:
b = ['Patato', 'Cattor','Peper','Bringal']

In [68]:
b

['Patato', 'Cattor', 'Peper', 'Bringal']

In [69]:
pairing = [a,b]

In [70]:
pairing

[['Rose', 'WaterLilly', 'Sunflower', 'Merigold'],
 ['Patato', 'Cattor', 'Peper', 'Bringal']]

### Indexing over pair list

In [71]:
pairing [1]

['Patato', 'Cattor', 'Peper', 'Bringal']

In [72]:
pairing [0]

['Rose', 'WaterLilly', 'Sunflower', 'Merigold']

In [73]:
pairing [0][1]  # Accessing water lilly which is in 0 & 1 index

'WaterLilly'

In [74]:
pairing [0][2]  # access sunflower

'Sunflower'

In [75]:
pairing[0][-1]  # Merigold

'Merigold'

In [76]:
pairing[0][3] # Merigold alvernative

'Merigold'

In [77]:
pairing[1][2] # access peper

'Peper'

In [78]:
pairing [1][-1]

'Bringal'

In [79]:
pairing [1][3]

'Bringal'

In [80]:
pairing[1][0]

'Patato'

#### String Method - Counts

In [81]:
list10= [5,5,5,15,7,9,4,6,4,5,72,5,6]
list10

[5, 5, 5, 15, 7, 9, 4, 6, 4, 5, 72, 5, 6]

In [82]:
list10.count(5)

5

#### index position

In [83]:
list10.index(15)

3

In [84]:
list10.index(5)

0

#### Remove

In [85]:
list10.remove(5)   # not remove all similar value together, rather remove a given value one by one
list10

[5, 5, 15, 7, 9, 4, 6, 4, 5, 72, 5, 6]

In [86]:
list10.index(5)

0

#### Reverse

In [87]:
list10.reverse()            # reverse is same as code "list10[::-1]"
list10

[6, 5, 72, 5, 4, 6, 4, 9, 7, 15, 5, 5]

#### Lenght

In [88]:
len(list10) # wnat to know how many elements inside list, this can be applied in str also

12

#### list shorting

In [89]:
list10.sort()  # Ascending by default
list10

[4, 4, 5, 5, 5, 5, 6, 6, 7, 9, 15, 72]

In [90]:
list10.sort(reverse=True) # Discenting order
list10

[72, 15, 9, 7, 6, 6, 5, 5, 5, 5, 4, 4]

#### Clear

In [91]:
list10.clear()  # clear all elements/values from list
list10

[]

### Copy (Shallow Copy vs Deep Copy)

In [92]:
nums1 = [5,6,7,10]

#### Shallaw Copy

In [93]:
nums2 = nums1 # Shallow Copy
nums2

[5, 6, 7, 10]

##### Drawbacks in Shallow copy (oring / source file updated when make any change in following list whether you want or not)

In [94]:
nums2.append(500)
nums2

[5, 6, 7, 10, 500]

In [95]:
nums1  # here is the problem, as I didnt want to update nums1 with append applied in nums2

[5, 6, 7, 10, 500]

#### Deep Copy

In [96]:
nums3 = nums1.copy()  # Deep Copy

In [97]:
nums3.append(9999) # source/ original list (nums1) will not be affected by this update, only nums3 will be udpated
nums3

[5, 6, 7, 10, 500, 9999]

In [98]:
nums1  # list1 not being updated by 9999 verified, Deep Copy is more useful

[5, 6, 7, 10, 500]

#### Multiple values update together

In [99]:
list11 = [25,50,75,100]
list11

[25, 50, 75, 100]

In [100]:
list11[1:2] = 300,600   
list11

[25, 300, 600, 75, 100]

# Excercise 2

## List Method

In [110]:
nums = [3,45,6,3,7,3,78,3,788,6]
nums

[3, 45, 6, 3, 7, 3, 78, 3, 788, 6]

In [112]:
nums.append(99)  # append add from last by every click
nums

[3, 45, 6, 3, 7, 3, 78, 3, 788, 6, 99, 99]

In [115]:
nums.insert(1,-99)  # first index location, which will be replace by following

[3, -99, -99, 45, 6, 3, 7, 3, 78, 3, 788, 6, 99, 99]

In [116]:
list_2 = [22,21,25,26,55]
list_2

[22, 21, 25, 26, 55]

In [117]:
list_2.extend([50,60]) # added from last
list_2

[22, 21, 25, 26, 55, 50, 60]

In [119]:
list_2.count(3) # There is no 3 values in the list_2

0

In [120]:
list_2.count(25) # values 25 comes 1 times in the list

1

In [124]:
list_2.index(21) # Return index number/position of the given value

1

In [128]:
list_3 = [2,2,41,53,12,52,50,50]
list_3

[2, 2, 41, 53, 12, 52, 50, 50]

In [129]:
list_3.pop(1)  # delete values from first

2

In [130]:
list_3

[2, 41, 53, 12, 52, 50, 50]

In [131]:
list_3.remove(52) # remove given values from the list

In [132]:
list_3

[2, 41, 53, 12, 50, 50]

In [133]:
list_3.reverse() # swap/ revese

In [134]:
list_3

[50, 50, 12, 53, 41, 2]

In [135]:
len(list_3)

6

In [136]:
list_3.sort()

In [137]:
list_3

[2, 12, 41, 50, 50, 53]

In [138]:
list_3.sort(reverse=True)

In [139]:
list_3

[53, 50, 50, 41, 12, 2]

In [142]:
list_3.clear() # remove full list

In [141]:
list_3

[]

# Set

- Use { } / curly brackets or braces
- Not allow duplicate values 
- Whether duplicate values store or not, output will return distinct/Unique values only, not duplication returned
- Output renerally returned in sorted form
- indexing not possible/ not subscriptable , because if any new value added first/ stored in fist, that will not show first in output, output will shows in order form only
- not maintain the order of  insertion

In [1]:
s1 = {2,3,4,2,4,3,5,6} # returned in order, duplication in input, but no duplication in output
s1

{2, 3, 4, 5, 6}

In [2]:
s2 = {9,2,3,4,2,4,3,5,6} # add a new value as 9 in first, still output in sorted form
s2

{2, 3, 4, 5, 6, 9}

In [5]:
s1.add(33)
s1

{2, 3, 4, 5, 6, 33}

In [7]:
s1.discard(9)
s1

{2, 3, 4, 5, 6, 33}

In [10]:
s1.remove(5)
s1

{3, 4, 6, 33}

In [11]:
s1.pop() # remove from right
s1

{3, 4, 6}

In [12]:
set1 = {2, 3, 4, 5, 6}
set2 = {7, 3, 4, 8, 9}

In [13]:
set1.union(set2)  # adding set together

{2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
set1 = {2, 3, 4, 5, 6}
set2 = {7, 3, 4, 8, 9}
set1.intersection(set2)  # Return common values between sets

{3, 4}

In [16]:
set1 = {2, 3, 4, 5, 6}
set2 = {7, 3, 4, 8, 9}
set1.difference(set2)  # Return differece value of set 1 from set 2 - A

{2, 5, 6}

In [17]:
set2.difference(set1)  # Return differece value of set 2 from set 1 - B

{7, 8, 9}

In [18]:
set1.symmetric_difference(set2) # return both (A & B), ignore common values between sets

{2, 5, 6, 7, 8, 9}

In [19]:
set1.symmetric_difference(set2) # return both (A & B) & update original set1, similarly update avaible for union, intersection,difference

{2, 5, 6, 7, 8, 9}

In [20]:
set1

{2, 3, 4, 5, 6}

# Dictionary

- Its very useful data structure
- Keys must be unique, duplicate not allowed
- Keys may be int, float or str, if str that must be case sensitive

In [2]:
students = {1:"John", 2:"Alexa", 3:"Tessa"}  # Key:Values
students[1] # accessing roll#2

'John'

In [5]:
students[3]

'Tessa'

In [7]:
# Updating Values:
students[2] = "Alexa Smith"  # Update Alexa as Alexa Smith
students[2]

'Alexa Smith'

In [8]:
students

{1: 'John', 2: 'Alexa Smith', 3: 'Tessa'}

In [10]:
# Adding values in existence dictionary
students[4] = "Hardin"   # adding key4 and  values "Hardin"
students

{1: 'John', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [14]:
# Key Error, return error when key not available in dictionary
students[5]

KeyError: 5

In [15]:
# Key Error Handling/ Another ways of accessing values
students.get(5)   # return nothing when key unavailable in dictionary

In [16]:
students.get(4)

'Hardin'

In [26]:
# Accessing differently
print(students.keys())      # Only Keys        
print(students.values())    # Only Values
print(students.items())     # Keys & Values together

dict_keys([1, 2, 3, 4])
dict_values(['John', 'Alexa Smith', 'Tessa', 'Hardin'])
dict_items([(1, 'John'), (2, 'Alexa Smith'), (3, 'Tessa'), (4, 'Hardin')])

In [28]:
students2 = {1:"John", 2:"Alexa", 3:"Tessa"}

In [30]:
# clear, remove all from disctionany
students2.clear() 
students2

{}

In [35]:
students

{1: 'John', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [36]:
# Pop
students.pop(1) # remove keys & value for given key(1)

'John'

In [37]:
students

{2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [38]:
# Pop itmes
students.popitem() # it will not take any param, remove/delete from the end, pop last key & values

(4, 'Hardin')

In [39]:
students

{2: 'Alexa Smith', 3: 'Tessa'}

In [41]:
# Update [ it merged two dictionary ]
students.update({5:"Sen", 6:"Mitu"})  # new dictionary to be added with primary dictionary
students

{2: 'Alexa Smith', 3: 'Tessa', 5: 'Sen', 6: 'Mitu'}

#### FromKeys

- Creating dummy dictionary
- Not affect original dictionary
- Here, iterable value of keys are given
- For example, students names are unknown, were rolls (keys) provided with a default value of "NA" for all
- Use fromkeys to generate something (new dummy dictionary)
- This is basically example of Class Method, that returns a dictionary class, but not affect original class/object

In [43]:
students.fromkeys([7,8,9], "NA")

{7: 'NA', 8: 'NA', 9: 'NA'}

In [44]:
students  # not affected

{2: 'Alexa Smith', 3: 'Tessa', 5: 'Sen', 6: 'Mitu'}

In [45]:
# Set Default, majonly not preferable, rather students[4]="Hardin" is more preferable
students.setdefault(10,"AB") # it will affect original object(students), this like similar as: students[4]="Hardin"

'AB'

In [46]:
students

{2: 'Alexa Smith', 3: 'Tessa', 5: 'Sen', 6: 'Mitu', 10: 'AB'}

In [48]:
# str Key
p1 = {"Name": "John", "Age":25} 
p1['Name']

'John'

In [50]:
p1['name']  # value error due to case sensitive

KeyError: 'name'

In [51]:
p1 = {"Name": "John", "Age": 26, 2.6: "Alexa" }  # float keys
p1['Name']

'John'

In [52]:
p1

{'Name': 'John', 'Age': 26, 2.6: 'Alexa'}

# Nested Data Structure

- Ref: 25_1002

- Using list inside list
- tuple inside list
- list inside list
- list inside dictionary
- list inside set

In [2]:
# List of list (Matrix)
matrix = [
    [2, 3],
    [5, 7]
]
matrix

[[2, 3], [5, 7]]

In [3]:
# Accessing values from matrix
print(matrix[0])
print(matrix[0][0])
print(matrix[0][1])
print(matrix[1])
print(matrix[1][0])
print(matrix[1][1])

[2, 3]
2
3
[5, 7]
5
7

### 3D/ 3 Dimenstion

- 3D is basically for image/ graphics (Each cell having values like RGB)

In [5]:
matrix = [
    [[2, 3.5], 7],  # 3D, list inside list (first list, first row, then list)
    [7, 9]
]
matrix

[[[2, 3.5], 7], [7, 9]]

In [6]:
# Accessing Values 
print(matrix[0])
print(matrix[0][0])
print(matrix[0][0][0])
print(matrix[0][0][1])
print(matrix[1])
print(matrix[1][0])
print(matrix[1][1])

[[2, 3.5], 7]
[2, 3.5]
2
3.5
[7, 9]
7
9

In [7]:
# Set inside list
matrix = [
    [{2, 2.8}, 3],  # Set inside list
    [10, 15]
]
matrix

[[{2, 2.8}, 3], [10, 15]]

In [8]:
# Accessing Value - Now returns error for 3D, upto 2d is possible
matrix[0][0][0]

TypeError: 'set' object is not subscriptable

In [9]:
# Accessing value
print(matrix[0][0])
print(matrix[0][1])
print(matrix[1])
print(matrix[1][0])
print(matrix[1][1])

{2, 2.8}
3
[10, 15]
10
15

In [10]:
# Tuple inside list
matrix = [
    [{3, 7.5}, (3.5)], # set & tuple inside list, set is in 1st row, 1st col; tuple is in 1st row, 2nd col
    [7,9]
]
matrix

[[{3, 7.5}, 3.5], [7, 9]]

In [11]:
# Accessing Value
print(matrix[0])
print(matrix[0][0])
print(matrix[0][1])
print(matrix[1])
print(matrix[1][0])
print(matrix[1][1])

[{3, 7.5}, 3.5]
{3, 7.5}
3.5
[7, 9]
7
9

In [12]:
matrix1 = [
    [{5, 6.5}, (2,4)],
    [8, 9]
]
matrix1

[[{5, 6.5}, (2, 4)], [8, 9]]

In [13]:
# Updating tuple (matrix 1)
matrix1[0][1]   
matrix1[0][1][0] = 5  # Error, becaause tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [14]:
matrix2 = [
    [2, 3],  # Set inside list
    [10, 15]
]
matrix2

[[2, 3], [10, 15]]

In [15]:
# Updating tuple (matrix 2)
matrix2[0][0]
matrix2[0][0] = 5 # set value 2 updated to 5, because it mutable
matrix2

[[5, 3], [10, 15]]

# Conversion/ Type Conversion / Object Conversion

- 25_1003

In [16]:
# List
list = (2, 3, 5, 7, 8)
list

(2, 3, 5, 7, 8)

In [17]:
# Conversion : list to Tuple
tuple(list)

(2, 3, 5, 7, 8)

In [18]:
# Conversion : list to Dictionary (Error), dict required key:value pair
dict(list)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [19]:
set(tuple) # tuple is immutable

TypeError: 'type' object is not iterable

In [20]:
# Convert: list to set
set(list)

{2, 3, 5, 7, 8}

In [21]:
# Conversion: Dict by tuple inside tuple
dict(((1,1), (2,4), (3,3)))   # tuple inside tuple(e.g key & value), This way we can do this

{1: 1, 2: 4, 3: 3}

- In Dict: We cannot do indexcing, but we can iterate over it(loop)

In [22]:
dict([[1,1], [2,4], [3,3]]) # This is also possibe, but we prefer tuple because its immutable, new value cant add into it, where as in set new value can be added

{1: 1, 2: 4, 3: 3}

- tuple is preferable, because of immutable, which is secured for mapping