# Operators

## Arithmatic Operator

In [1]:
# Addition
print(2+3)
print(10-5)
print(5*5)
print(3/2)  # Division (floating point)
print(3//2) # Floor Division (integer Division), return only first part before decimal, its floor value that why its called floor division
print(6/2)
print(6//2)
print(5%2) # Modulous Operator, use to know/check "Remainder" after division
print(10%2) 
print(2**2) # Power Calculation- Square
print(2**3) # Power Calculation - Q

5
5
25
1.5
1
3.0
3
1
0
4
8

## Relational Operator

- Try to identify relationship between operant, like asking something
- Comparision

In [2]:
# Comparision:

print(4 > 2)  # is 4 > 2 ? 
print(4 < 2)  # is 4 < 2 ?
print(4 == 2) # Equality, check where its equal or not; need to use double quaal (==) sign, because single equal used to assign value
print(5 == 5)
print(4 >= 2) # Check double condition, where 4 is >= 2 ? first check whether its > then check whether its equal, return True if any true
print(4 >=4)
print(4 >= 5)
print(4 <=4)
print(4 <=5)
print(4 <=2)
print(4 !=4) # Not Equal to Comparision, false becasue 4 & 4 are equal while it checking whether it is not equal!, return opposit then equal to!
print(4 !=5) # 4 & 5 are not equal, return True
print(4 !=3) # 4 & 3 are not equal, return True

True
False
False
True
True
True
False
True
True
False
False
True
True

## Logical/ Boolean Operator

- Where relational operators use heavily 
- (And ; OR ; Not) - Boolean

### AND - Operator

- When left & right operant (value) both are True then return "True" otherwise return False

In [3]:
print(False and False) # Return False, because both are not true, rather both are false
print(False and True) # Return False, because both are not true, any of them are false
print(True and False) # Return False, because both are not true, any of them are false
print(True and True) # Return True, because both are true

False
False
False
True

### OR - Operator

- Any True out of Two, return True, otherwise false

In [4]:
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

## Not Operator

- and, or & not are python built-in-keyword
- or, and not : This keyword can not be used a variable
- Not: this will make true statement to false & vise-versa

In [5]:
not True  # convert True into false, like conversion

False

In [6]:
not False

True

##### Relational operator highly used with logical operator

In [7]:
# Check the grade for the marks with some conditions
marks = 78

# Conditon : A grade is > 75- 90, check the grade

# Checking A grade:
marks > 75 and marks < 95

True

In [8]:
# Check the grade for the marks with some conditions
marks = 65

# Conditon : A grade is > 75- 90, check the grade

# Checking A grade: it returns false, because the and the condition is False
marks > 75 and marks < 95    # Condition for 1st operant is True; whereas condition for 2nd Operant is False, 

# 65 is < 95 but not > 75 that why its return False- because as per 'and' rule both condition must be TRUE, any false, will return false

False

In [9]:
# grade for the marks with some conditions
marks = 98

# Conditon : A grade is > 75- 90, check the grade

# Checking A grade: it returns false, because the and the condition is False
marks > 75 and marks < 95    # 98 is not less then 95, so its return False

False

In [10]:
marks = 85
(marks > 75) and (marks <91)

True

### Assignment Operators

In [16]:
# simple assignment
num = 10

# Case 1: Add 10 with num then again re-store in same variable
num = num + 5
print(num)

15

In [20]:
# Case 1: Optimization case 1 (addition case)
num = 10
num += 5  # alternaive method, minimize extension
num

# Notes: + = ( it mean first add then assigned in same variable by assignment operator)

15

In [21]:
# Case 1: Optimization case 1 (Substraction case)
num = 10
num -= 5
num

5

In [23]:
# Case 1: Optimization case 1 (Square case)
num = 7
num **= 2  # first square then assign ; all arithmetic operation can be performed here
num

49

### Special Operators

In [24]:
# Check someting is availale withing something , return boolean 

"Py" in "Python"  # Check whether "Py" is available in "Python"

True

In [27]:
"Pt" in "Python" # Pt is avaible not side by side, return false

False

In [28]:
"p" in "Python" # case sensitive

False

In [29]:
"P" in "Python"

True

In [25]:
"Ba" in "Banana"

True

In [26]:
"Ba" in "Mango" # Ba not availabe in "Banana"

False

In [30]:
2 in [2, 3, 5]

True

In [31]:
2.5 in [2, 3, 5]

False

In [32]:
# Dictionary
1 in {1:"John", 2:"Tessa"}

True

In [33]:
2 in {1:"John", 2:"Tessa"}

True

In [34]:
3 in {1:"John", 2:"Tessa"}

False

In [36]:
# it check & verify with keys only, not for value
"John"in {1:"John", 2:"Tessa"}

False

### Equality or IS Operators

In [48]:
# Test1
a = 2.0
b = 2
a is b # Is not only check number, rather check type & value (one is float & another is int) as well

False

In [44]:
# Test1
a  = 2.0
b == 2

True

### Bitwise Operators

- Understanding Binary number system is prerequisit for understanding bitwise operator
- It used rarely