# Assigment - AI (JPN)

# Test 1

* Write a Python program Return multiple values from a function
* Input: 100 50

In [7]:
# Question 1
def add_sub(num1, num2):
  addition = num1 + num2
  subtraction = num1 - num2
  return f"Addition: {addition}", f"subtraction: {subtraction}"

add_result, sub_result = add_sub(100, 50)

print(add_result)
print(sub_result)

Addition: 150
subtraction: 50

In [1]:
def generate_even_numbers(start, end):
    # Initialize an empty list to store even numbers
    even_numbers = []

    # Iterate through the range from start to end (inclusive)
    for num in range(start, end + 1):
        if num % 2 == 0:
            even_numbers.append(num)

    return even_numbers

# Input range
start_num = 2
end_num = 20

# Call the function
even_list = generate_even_numbers(start_num, end_num)

# Convert the list to a comma-separated string
even_numbers_str = ', '.join(map(str, even_list))

# Display the output
print(f"Output: {even_numbers_str}")

Output: 2, 4, 6, 8, 10, 12, 14, 16, 18, 20

In [5]:
# Method 1: Using a Function (Custom Implementation)
def find_largest(num1, num2, num3):
    # Compare the numbers to find the largest
    if num1 >= num2 and num1 >= num3:
        largest = num1
    elif num2 >= num1 and num2 >= num3:
        largest = num2
    else:
        largest = num3
    return largest

# Input values
num1 = 40
num2 = 37
num3 = 53

# Call the function
result = find_largest(num1, num2, num3)

# Display the output
print(f"The largest number is {result}")

The largest number is 53

In [4]:
# Method 2: Using python built In Function
def find_largest_builtin(num1, num2, num3):
    # Use max() to find the largest number
    largest = max(num1, num2, num3)
    return largest

# Input values
num1 = 40
num2 = 37
num3 = 53

# Call the function
result_builtin = find_largest_builtin(num1, num2, num3)

# Display the output
print(f"The largest number (using max()) is {result_builtin}")

The largest number (using max()) is 53

In [6]:
# Question 3
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3

print(max_num(40,37,53))

53