1.1 Calculate Sum of even number 1 to 10

In [ ]:
s = 0
for i in range (1,11):
  if i%2==0:
    s = s +i

print(s)

30

1.2 Print the mumber 121 - 130

In [ ]:
for i in range(121,132):
  print(i)

121
122
123
124
125
126
127
128
129
130
131

1.3 Find out the smallest number from the list [ 93,11,38]

In [ ]:
mylist = [93, 11, 38]
print('Smallest number is: ', min (mylist))
print ('Largest number is: ', max (mylist))

Smallest number is:  11
Largest number is:  93

1.4 Calculate sum of numbers 1 to 10

In [ ]:
total = 0
for i in range(1,11):
  total = total + i

print(total)

55

1.5 Find even & odd number from a list

In [ ]:
def n (number):
  if (number %2==0):
    print ('The Number is Even')

  else:
    print ('The Number is odd')

number = [ 5, 12, -2, 7, 9, 0 , 5]
print ('Number')
for i in number:
  n(i)

Number
The Number is odd
The Number is Even
The Number is Even
The Number is odd
The Number is odd
The Number is Even
The Number is odd

1.6 A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = int (input ('Enter Salary: '))
yos = float (input('Enter Year of Service: '))
bonus = float (input('Enter Bonus Rate: '))

if (yos>5):
  print('Bonus is: ',salary * bonus)
  print('You got bonus!')

else:
  print('Sorry! Condtions Failed!')

Enter Salary: 25000
Enter Year of Service: 7
Enter Bonus Rate: .10
Bonus is:  2500.0
You got bonus!

1.7 Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
first = int (input('Enter First Age: '))
second = int (input('Enter Second Age: '))
third = int (input('Enter Thirt Age: '))

if (first >= second and first >= third):
  print ('The oldest is ', first)
  print ('First Person Executed')
  
elif (second >= first and second >= third):
  print ('The Oldest is ', second)
  print ('Second Person Executed')

elif (third >= first and third >= second):
  print ('The Oldest is ',third)
  print ('Third Person Executed')

else:
  print ('All are equal!')

Enter First Age: 15
Enter Second Age: 12
Enter Thirt Age: 11
The oldest is  15
First Person Executed