<h1> Introduction to Python

- Variable
- Operators
- Comperision
- Data Type
- Conditional Statement
- DateTime
- Function
- List

# Variable

In [10]:
# Single varible
x = 1

In [11]:
x

1

In [12]:
print(x)

1

## Multiple Varible

In [13]:
x,y = 92, 100

In [14]:
x

92

In [15]:
y

100

In [16]:
x,y = 92, 100, 150 # will return an error

ValueError: too many values to unpack (expected 2)

In [17]:
x,y,z = 92, 100, 150

In [18]:
x,y,z

(92, 100, 150)

In [19]:
# return the last one
x
y
z

150

In [20]:
# return all as per declartion by print fn
print(x)
print(y)
print(z)

92
100
150

# Data Types

In [21]:
x1 = 4.3

In [22]:
x1

4.3

In [23]:
type(x1)

float

In [24]:
x2= "abc"
type(x2)

str

In [25]:
x3 = 7
print(x3+7)

14

In [26]:
x3 = '7'
print(x3+7) # will return an error

TypeError: can only concatenate str (not "int") to str

In [27]:
x3 = '7'
print(x3+'5') # it will concatinate 7 & 5

75

In [28]:
x3 = 'Bangladesh'
x4 = ' My Country Name is '
print(x4+x3)

 My Country Name is Bangladesh

In [29]:
x5 = True
x6 = False
type(x5)

bool

In [30]:
print(type(x5))
print(type(x6))

<class 'bool'>
<class 'bool'>

In [31]:
x7 = 4
print ('This number is '+str(x7))

This number is 4

# Operator

In [32]:
y = 4+5      #addition
ya = 9-3     #Substraction
yb = 8*8     #Multiplication
yc= 8/4      #Division
yd = 9%2     #Modulo
print(y)
print(ya)
print(yb)
print(yc)
print(yd)

9
6
64
2.0
1

In [33]:
x8 = 5**2 # square
x9 = 9// 2  
x10 = 9%2  

print(x8)
print (x9)
print(x10)

25
4
1

In [34]:
y = 10
x = (y == 5) # is y equal to x actually, answer is no, that why its returned False 
print(x)

False

In [35]:
5 == 5  # is 5 is equal to 5, answer is yes, return True

True

# Comparison Operator

In [36]:
10 == 20/2  # Return boolean

True

In [37]:
10 != 5   # not equal

True

In [38]:
10 > 10  # <  >

False

In [39]:
10 <=9

False

In [40]:
True and True

True

In [41]:
True & True

True

In [42]:
True & False

False

In [43]:
False & False

False

In [44]:
False & True

False

In [45]:
True or True

True

In [46]:
True or False

True

In [47]:
False or True

True

In [48]:
False or False

False

In [49]:
True ^ False  # XOR

True

In [50]:
False ^ False

False

In [51]:
5 is 6  # is 5 within 6, answer is no, that why false. this is alternative of 5 == 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Maruf\AppData\Local\Temp/ipykernel_5688/1746752968.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6  # is 5 within 6, answer is no, that why false. this is alternative of 5 == 6

False

In [52]:
5 == 6

False

In [53]:
5 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Maruf\AppData\Local\Temp/ipykernel_5688/3010810752.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 5

True

In [54]:
5 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Maruf\AppData\Local\Temp/ipykernel_5688/171648558.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 4

False

In [55]:
5 is not 6   # alternative of 5!=6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Maruf\AppData\Local\Temp/ipykernel_5688/4068411564.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6   # alternative of 5!=6

True

In [56]:
5 != 6

True

# Conditional Statement

In [57]:
if 5== 5:  # Conditionally is cheaking boolean
    print('Welcome')
else:
    print('GoodBye')

Welcome

In [58]:
if 5 == 6:
    print('Welcome')
else:
    print('GoodBye')

GoodBye

In [59]:
y = 5
if y==10:
    print('Welcome')
else:
    print('Bye')

Bye

In [60]:
y = 6
if y == 5:
    print('Welcome')
elif y > 5:
    print('Good Morning')
else:
    print('Bye')

Good Morning

In [61]:
time = 23
if (time > 5 and time <=11):
    print ('Good Morning!')
elif (time >11 and time <=15):
    print('Good Noon!')
elif (time> 15 and time <=17):
    print('Good Afternoon!')
elif (time> 17 and time <=23):
    print('Good Night')
else:
    print('Bye')

Good Night

### Datetime

In [62]:
from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print('Current Time =', current_time)

Current Time = 22:54:35

# Function

In [63]:
# f(x) = x+1

def plusOne(x):  # plusOne is fn name, any name can be given as fn
    print(x+1)
    
plusOne(10)    # calling the fn by giving x value 10, so 10+1 = 11

11

In [64]:
def square_cal(y):
    print(y**2)
    
square_cal(5)

25

In [65]:
def square_macine(y):
    print(y**2)
    
square_macine(100)

10000

### Condition apply in function

In [66]:
def add_10(x):
    
    if x >=100:
        x = x+10
        return x
    else:
        return "Save More"
    
add_10(99)

'Save More'

In [67]:
def add_10(x):
    
    if x >=100:
        x = x+10
        return x
    else:
        return "Save More"
    
print(add_10(99))

Save More

#### Python built in Function

In [68]:
type(4)

int

In [69]:
type(4.5)

float

In [70]:
type(int('5'))

int

In [71]:
type(str(5))

str

In [72]:
max(10,20,50,35,80,100)

100

In [73]:
min(10,20,50,35,80,100)

10

In [74]:
abs(-50)  # abs- absolute, whatever negative, it return positive number, it will not process more than 1 value

50

In [75]:
round(3.984645)

4

In [76]:
sum((50,50))

100

In [77]:
2**2

4

In [78]:
pow(2,3)  # 2^3 = 8

8

In [79]:
len("Bangladesh")

10

# List

In [80]:
user = ['Arif','Jony','Tony','Akash','Enamul']
print(user)

['Arif', 'Jony', 'Tony', 'Akash', 'Enamul']

### List Slicing

In [81]:
user[0]

'Arif'

In [82]:
user[2]

'Tony'

In [83]:
user[1]

'Jony'

In [84]:
user[3]

'Akash'

In [85]:
user[4]

'Enamul'

In [86]:
user[-1]

'Enamul'

In [87]:
user[-2]

'Akash'

In [88]:
user[-3]

'Tony'

In [89]:
user2 = ['Rakib','San','Jeem','Peter','John']

In [90]:
del user2[1]

In [91]:
user2

['Rakib', 'Jeem', 'Peter', 'John']

In [92]:
# Adding in list
user2.append('James')  # add from last

In [93]:
user2

['Rakib', 'Jeem', 'Peter', 'John', 'James']

In [94]:
user2.append('Thomas')

In [95]:
user2

['Rakib', 'Jeem', 'Peter', 'John', 'James', 'Thomas']

In [96]:
user2.extend(['Maruf','Ashraful','Riyad', 'Rifat','Mantasha','Munna'])

In [97]:
user2

['Rakib',
 'Jeem',
 'Peter',
 'John',
 'James',
 'Thomas',
 'Maruf',
 'Ashraful',
 'Riyad',
 'Rifat',
 'Mantasha',
 'Munna']

In [98]:
len(user2)

12

In [99]:
a = 'Asif'
a
len(a)
a[2]
# a.append('r') # will return an error

'i'

In [100]:
a[1]  # tuple

's'

In [101]:
user2

['Rakib',
 'Jeem',
 'Peter',
 'John',
 'James',
 'Thomas',
 'Maruf',
 'Ashraful',
 'Riyad',
 'Rifat',
 'Mantasha',
 'Munna']

In [102]:
# start:end:jump

user2 [0:4]  # start:end, exclude last one, first ZERO is Optional

['Rakib', 'Jeem', 'Peter', 'John']

In [103]:
user2[:4] # alternavie

['Rakib', 'Jeem', 'Peter', 'John']

In [104]:
user2 [2:4]

['Peter', 'John']

In [105]:
user2[3:6]

['John', 'James', 'Thomas']

In [106]:
user2[2:7:2]  # start:end:jump, jump or step size 2

['Peter', 'James', 'Maruf']

In [107]:
user2

['Rakib',
 'Jeem',
 'Peter',
 'John',
 'James',
 'Thomas',
 'Maruf',
 'Ashraful',
 'Riyad',
 'Rifat',
 'Mantasha',
 'Munna']

In [108]:
user2[::2]  # Star:End:Jump , 0- start from first, 0-default upto last and step size 2

['Rakib', 'Peter', 'James', 'Maruf', 'Riyad', 'Mantasha']

In [109]:
user2[:7:2] # start:end:jump, upto to Ashrafu

['Rakib', 'Peter', 'James', 'Maruf']

In [110]:
user2[3::4] # start from 3, upto last & step size 4

['John', 'Ashraful', 'Munna']

In [111]:
river = ['Padma', 'Meghna', 'Jamuna']
river[:2] # return first two

['Padma', 'Meghna']

In [112]:
river[:3] # last one not excluded

['Padma', 'Meghna', 'Jamuna']

In [113]:
# Replace Jamumna by Titas
river[2] = 'Titas'  # Jamuna's index is 2

In [114]:
river

['Padma', 'Meghna', 'Titas']

In [115]:
river.insert(1,'Karnaphuli')
river

['Padma', 'Karnaphuli', 'Meghna', 'Titas']

In [116]:
river.insert(3,'Surma')

In [117]:
river

['Padma', 'Karnaphuli', 'Meghna', 'Surma', 'Titas']

In [118]:
user2

['Rakib',
 'Jeem',
 'Peter',
 'John',
 'James',
 'Thomas',
 'Maruf',
 'Ashraful',
 'Riyad',
 'Rifat',
 'Mantasha',
 'Munna']

In [119]:
# Combing user2 with river
list_1 = [user2,river]

In [120]:
list_1  # at combination return 2D array, Now there are 2 elements of list_1. 0 = user2, 1 = river

[['Rakib',
  'Jeem',
  'Peter',
  'John',
  'James',
  'Thomas',
  'Maruf',
  'Ashraful',
  'Riyad',
  'Rifat',
  'Mantasha',
  'Munna'],
 ['Padma', 'Karnaphuli', 'Meghna', 'Surma', 'Titas']]

In [121]:
list_1[1]

['Padma', 'Karnaphuli', 'Meghna', 'Surma', 'Titas']

In [122]:
# now accessing Meghna
list_1[1][2]

'Meghna'

In [123]:
# Accesing Peter
list_1[0][2]

'Peter'

In [124]:
# Accesing Padma
list_1[1][0]

'Padma'

In [126]:
# Accesing Munna
list_1[0][-1]

'Munna'