In [ ]:
print('Hello World!')

Hello World!

In [ ]:
a = 'hello world!'
print(a)

hello world!

In [ ]:
b='hi'
b

'hi'

In [ ]:
a = ['tomato', 'banana', 'date', 'apple', 'juice','pineapple']
print(a)

['tomato', 'banana', 'date', 'apple', 'juice', 'pineapple']

In [ ]:
shoppinglist =['Ice Cream', 'Biscuit', 'Bread', 'Fish','Meat']
print(shoppinglist)

['Ice Cream', 'Biscuit', 'Bread', 'Fish', 'Meat']

In [ ]:
x=['chocolate','orrange',25,50]
print(x)

['chocolate', 'orrange', 25, 50]

In [ ]:
print(10>9)
print(5>2)
print(5<2)
print (100>50)
print (25<20)

True
True
False
True
False

In [ ]:
a = 12
b = 3
c =2

In [ ]:
a + b

17

In [ ]:
c-b

5

In [ ]:
b*c

50

In [ ]:
b**c

9765625

In [ ]:
b/c # normal division

1.5

In [ ]:
b//c # floor division, no fraction

1

In [ ]:
b%c # modululs/Remainder

1

In [ ]:
len = float(input('Enter Length: '))
wid = float(input('Enter Wid: '))
unit_cost = float(input('Enter Unit Cost: '))

area = len*wid
print('Area is: ',area)

total_cost = area*unit_cost
print('total cost is: ', total_cost)

Enter Length: 25
Enter Wid: 25
Enter Unit Cost: 20
Area is:  625.0
total cost is:  12500.0

In [ ]:
len = int(input('Enter Lenght: '))
wid = int(input('Enter Width: '))
unit_cost = int(input('Enter Unit Cost: '))

area = len*wid
print('Area is: ', area)

total_cost = area*unit_cost
print('total cost is: ',total_cost)

Enter Lenght: 25
Enter Width: 20
Enter Unit Cost: 350
Area is:  500
total cost is:  175000

In [ ]:
number = int(input('enter a number: '))

if (number % 2 == 0):
  print ('our number is even')
  print ('if block is executed')

else:
  print ('our number is odd')
  print ('else block is executed')

enter a number: 25
our number is odd
else block is executed

In [ ]:
greeting_text = input('Input your text: ')

if (greeting_text == 'hello'):
  print('hello to you!')

elif (greeting_text == 'Good Morning'):
  print ('Good Morning you you')

elif (greeting_text == 'Good Night'):
  print('Good Night, you too!')

elif (greeting_text == 'Eid Mubarak'):
  print('Eid Mubarak you too!')

else:
  print('Can I help you?')
print('execution ended!')

Input your text: Happy New  year
Can I help you?
execution ended!

In [ ]:
quantity = 900
unitprice = 100

if (quantity > 1000):
  totalprice = quantity*unitprice*.9
  print(totalprice, 'With Discount')
else:
  totalprice = quantity*unitprice
  print(totalprice,'Without discount')

90000 Without discount

In [ ]:
for i in range(1,11):    # for loop
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):    # interval 2
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):    # when minimize downward, by default 1 kore kombe na
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
color = ['red', 'green', 'yellow', 'blue','orange']

for i in color:
  print(i)

red
green
yellow
blue
orange

In [ ]:
def  find_grade(marks):
  if (marks >=80):
    print ('A+')


  elif (marks >=70 and marks <80):
    print ('A')

  else:
    print ('Below A')

student_1 = (80,70,83,85)
student_2 = (90,78,83,65)

print('student_1')
for i in student_1:
  find_grade(i)

print('student_2')
for i in student_2:
  find_grade(i)

student_1
A+
A
A+
A+
student_2
A+
A
A+
Below A

In [ ]:
quantity = float(input('enter quantity: '))
unitprice = float(input('enter unit price: '))
discount = float(input('enter discount: '))
deliveryfee = float(input('enter delivery fee: '))

def calculate_price(q, u, d):
  if (q >1000):
    price = q * u * (1-d/100)
    print('With Discount')
  else:
    price = q * u
    print('No Disocunt')
  return price

totalprice = calculate_price (quantity, unitprice, discount) + deliveryfee
print(totalprice)

enter quantity: 950
enter unit price: 100
enter discount: 10
enter delivery fee: 50
No Disocunt
95050.0

In [ ]:
def oddeven (number):   # Assignment 1
  if (number%2 == 0):
    print ('The number is even')

  else:
    print( 'The number is odd')
  
number = [5, 12 , -7, 9, 0, 5]

print('Number')
for i in number:
  oddeven(i)

Number
The number is odd
The number is even
The number is odd
The number is odd
The number is even
The number is odd

Homework 1

In [ ]:
total = 0    # Homework 2
for i in range (1,11):
  total = total+i

print(total)

55

Homework 2

In [ ]:
result = 0
for i in range (1,12):
  result = result + i

print(result)

66

Practice 1

In [ ]:
len = float(input('Enter Length: '))
wid = float (input('Enter Width: '))
unit_cost = float(input('Unit Cost: '))

area = len * wid
print('Area is: ', area)

total_cost = area * unit_cost
print('Total Cost: ', total_cost)

Enter Length: 32.42
Enter Width: 25.2
Unit Cost: 20
Area is:  816.984
Total Cost:  16339.68

Practice 1.1

In [ ]:
len = float(input('Enter Length: '))
wid = float (input('Enter Width: '))
unit_cost = float(input('Enter Unit Cost: '))

area = len * wid
print ('Total Area is: ', area)

total_cost = area * unit_cost
print('Total Cost: ', total_cost)

Enter Length: 200
Enter Width: 100
Enter Unit Cost: 50
Total Area is:  20000.0
Total Cost:  1000000.0

Practice 2

In [ ]:
quantity = float(input('Enter Quantity: '))
unit_price = float(input('Enter Unit Price: '))
discount  = float(input('Enter Discount: '))

if (quantity >1000):
  totalprice = quantity * unit_price * (1-discount/100)
  print(totalprice,'With Discount')

else:
  totalprice = quantity * unit_price
  print(totalprice,'No Discount')

Enter Quantity: 1000
Enter Unit Price: 100
Enter Discount: 10
100000.0 No Discount

Pricetice 2.2

In [ ]:
quantity = float(input('Enter Quantity: '))
unitcost = float(input('Enter Unit Cost: '))
discount = float(input('Enter Discount: '))

if (quantity>=1000):
  totalprice = quantity * unitcost * (1-discount/100)
  print(totalprice, 'With Disocunt')

else:
  totalprice = quantity * unitcost
  print(totalprice,'No Disocunt')

Enter Quantity: 2500
Enter Unit Cost: 125
Enter Discount: 10
281250.0 With Disocunt

Practice 2.3

In [ ]:
quantity = float(input('Enter Quantity: '))
unitcost = float (input('Enter Unit Cost: '))
discount = float (input('Enter Discount: '))

if (quantity >=5000):
  totalprice = quantity * unitcost * (1-discount/100)
  print(totalprice,'With Disocunt')

else:
  totalprice = quantity * unitcost
  print(totalprice, 'No Disocunt')

Enter Quantity: 4500
Enter Unit Cost: 100
Enter Discount: 5
450000.0 No Disocunt

Practice 3.1 ( Print 1 to 10 Sequentially)

In [ ]:
for i in range(1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(11,28,3):
  print (i)

11
14
17
20
23
26

Practice 3.3 ( Print 67 to 72 Sequentially)

In [ ]:
for i in range (67,73):
  print (i)

67
68
69
70
71
72

In [ ]:
color = ['red', 'blue', 'orange', 'yellow', 'black']
for i in color:
  print (i)

red
blue
orange
yellow
black

In [ ]:
color = ['Apple', 'Orange', 'Banana', 'Orange']
for i in color:
  print(i)

Apple
Orange
Banana
Orange

In [ ]:
list = [ 'Banana', 'Orange', 'Oil', 'Onion', 'Sugar']
for i in list:
  print (i)

Banana
Orange
Oil
Onion
Sugar

Practice 4.1 [ Finding Grade with function ]

In [ ]:
def find_grade(marks):
  if (marks >=80):
    print('A')

  elif (marks>=70 and marks <80):
    print ('A')

  elif (marks>=65 and marks <70):
    print ('A-')

  elif (marks >= 60 and marks <65):
    print ('B')

  else:
    print('Below B')

student_1 = [50, 88, 65, 70, 75]
student_2 = [95, 85, 100, 72, 65]
student_3 = [50,70,80,90,85]
student_4 = [85,90,100,95,25]

print('Student-1')
for i in student_1:
  find_grade(i)

print ('Student-2')
for i in student_2:
  find_grade(i)

print ('Student-3')
for i in student_3:
  find_grade(i)

print ('Student-4')
for i in student_4:
  find_grade(i)

Student-1
Below B
A
A-
A
A
Student-2
A
A
A
A
A-
Student-3
Below B
A
A
A
A
Student-4
A
A
A
A
Below B

Practice 4.2 [ Findding Grade with function]- Not Executed

In [ ]:
def find_grade(marks):
  if (marks >=85):
    print('A+')

  elif(marks >=80 and marks <85):
    print ('A')

  elif(marks >= 75 and marks <80):
    print ('B+')

  elif(marks >= 70 and marks <75):
    print ('B')

  else:
    print ('Below B')


rahim : [100, 55, 65, 75, 85]
karim : [85, 80, 75, 70, 80]
roki : [80, 75, 73, 60, 70]

print ('Rahim')
for i in rahim:
  find_grade(i)

print ('Karim')
for i in karim:
  find_grade(i)

print ('Roki')
for i in roki:
  find_grade(i)

Practice 4.3 ( Find Grade)

In [ ]:
def find_grade(marks):
  if (marks >=80):
    print ('A')

  elif (marks >=75  and marks <80):
    print ('A-')

  elif (marks >=70 and marks <75):
    print ('B')

  else:
    print('Below A')

karim = [50, 75, 90, 100,78]
ripon = [96, 80, 70,82,78]
mitu  = [85, 90, 75, 70, 80]

print("Karim's Retult")
for i in karim:
  find_grade(i)

print("Ripon' Result")
for i in ripon:
  find_grade(i)

print("Mitu's Grade")
for i in mitu:
  find_grade(i)

Karim's Retult
Below A
A-
A
A
A-
Ripon' Result
A
A
B
A
A-
Mitu's Grade
A
A
A-
B
A

Practice 5.1 [ Find Total price with & without discount]

In [ ]:
quantity = float(input('Enter quantity: '))
unitprice = float(input('Enter unit price: '))
discount = float(input('Enter discount: '))
deliveryfee = float(input('Enter delivery fee: '))

def calculate_price (q, up, d):
  if  (q >=5000):
    price = q * up * (1-d/100)
    print ('With Discount')

  else:
    price = q * up
    print ('Without Discount')

  return price

totalprice = calculate_price(quantity, unitprice, discount) + deliveryfee
print (totalprice)

Enter quantity: 2000
Enter unit price: 100
Enter discount: 10
Enter delivery fee: 50
Without Discount
200050.0

Practice 5.2 [ Find Total price with & without discount]

In [ ]:
quantity = float (input('Enter Quantity: '))
unitprice = float (input('Enter Unit Price: '))
discount = float (input('Enter Discount: '))
deliveryfee = float (input('Enter Delivery Fee: '))

def calculate_price(q,uc,dis):
  if (q >=10000):
    price = q * uc * (1-dis/100)
    print('With Discount')

  else:
    price = q * uc
    print ('No Discount')

  return price

totalprice = calculate_price (quantity, unitprice, discount) + deliveryfee
print(totalprice)

Enter Quantity: 7800
Enter Unit Price: 78
Enter Discount: 23
Enter Delivery Fee: 50
No Discount
608450.0

Practice 6.1 Rectangular

In [ ]:
length = float(input('Enter the length of rectangular: '))
width = float(input('Enter the width of rectangular: '))

area = length * width

perimeter = (length + width) * 2

print ("Area of Rectangular is %.2f" % area )   # %.2f means 2 values after decimal
print ("Perimeter of Rectangular is %.2f" %perimeter)

Enter the length of rectangular: 10
Enter the width of rectangular: 12
Area of Rectangular is 120.00
Perimeter of Rectangular is 44.00

6.2 A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = 50000
yos = 7
bonus = .05

if (yos>5):
  print('Bonus is: ', salary * bonus)
 

else:
  print('No Bonus')

Bonus is:  2500.0

6.3 A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = int (input('Enter Salary: '))
yos = float(input('Enter Year of Service: '))
bonus = float(input('Enter Bonus rate: '))

if (yos >5):
  print('Bonus is:', salary * bonus)
  print('You got Bonus')

else:
  print('Sorry! You are under 5 Years!!!')

Enter Salary: 25000
Enter Year of Service: 7
Enter Bonus rate: .08
Bonus is: 2000.0
You got Bonus

6.4 Take values of length and breadth of a rectangle from user and check if it is square or not.

In [ ]:
len = float(input('Enter Length: '))
breadth = float (input('Enter breadth: '))

if (len== breadth):
  print('Yes, it is a square')

else:
  print('No, It is only rectangle!')

Enter Length: 25
Enter breadth: 25
Yes, it is a square


6.5 Take two int values from user and print greatest among them.

In [ ]:
first = int(input('Enter First value: '))
second = int (input('Enter Second value: '))

if (first > second):
  print('Gretest is', first)
  print('First Executed')

elif (second > first):
  print ('Gretest is', second)
  print('Second Executed')

else:
  print ('Both are equal!')

Enter First value: 50
Enter Second value: 25
Gretest is 50
First Executed