# Data Type

- String Data
- String Method
- Counting any character/ sub str in a string
- String / Array indexing

In [3]:
name = "John"
name

'John'

In [4]:
name1 = 'John Smith"s34'
name1

'John Smith"s34'

In [5]:
addr = "Silicon valley's"
addr

"Silicon valley's"

In [6]:
name2 = "John Smith\"s35"
name2

'John Smith"s35'

In [7]:
type(name2)

str

# String Methods

In [8]:
name

'John'

In [9]:
addr.upper()

"SILICON VALLEY'S"

In [10]:
addr.lower()

"silicon valley's"

In [11]:
addr.capitalize()

"Silicon valley's"

In [12]:
addr.title()

"Silicon Valley'S"

## Counting string

In [13]:
addr.count('s')

1

In [14]:
addr.count('i')

2

In [15]:
addr2 = "Silicon Vallley's sili"

In [16]:
addr2.count('sili')  # inside bracket any character/str or sub str is case sensitive

1

In [17]:
addr2 = "silicon Vallley's sili"
addr2.count('sili')

2

In [18]:
addr3 = 'Salt Lake City'
addr3.endswith('City')

True

In [19]:
addr3.endswith('city')

False

In [20]:
addr3.startswith('salt')

False

In [21]:
addr3.startswith('Salt')

True

In [22]:
addr3.find('lake')

-1

In [23]:
addr3.find('Lake') # return the index position

5

In [24]:
addr3.find('jj') # -1 means its not found

-1

In [25]:
addr3.find('salt')

-1

In [26]:
addr3.find('Salt') # Salt is in 0 index

0

In [27]:
addr3.split()

['Salt', 'Lake', 'City']

In [28]:
addr4 = "silicon@vallay's"

In [29]:
addr4.split()

["silicon@vallay's"]

In [30]:
addr4.split('@')

['silicon', "vallay's"]

In [31]:
addr5 = "silicon@vallay@salt@lalk"

In [32]:
addr5.replace("@","_")  # Replacing @ with underscore

'silicon_vallay_salt_lalk'

In [33]:
addr5.replace("@","*")  # Replacing @ with *

'silicon*vallay*salt*lalk'

In [34]:
addr5.replace("@"," ")  # Replacing @ with Space

'silicon vallay salt lalk'

In [35]:
addr5.replace("@","||")  # Replacing @ with Douple pipe

'silicon||vallay||salt||lalk'

In [36]:
addr5.replace("@","_",1) # replace a single @, not two at a time

'silicon_vallay@salt@lalk'

In [37]:
addr5.replace("@","_",2) # replace two @, not two at a time, if no value pass then replace all

'silicon_vallay_salt@lalk'

In [38]:
# Some Core function applied on object/ string method
addr.upper()
addr.lower()
addr.capitalize()
addr.title()
addr.count('s')
addr.endswith("vallay's")
addr.startswith('Sili')
addr.find("Sili")
addr.split("@")
addr5.replace("@","_",2)

'silicon_vallay_salt@lalk'

### String Indexing / Array indexing

In [39]:
name7 = "John Smith's34"
name7

"John Smith's34"

In [40]:
name7[0]

'J'

In [41]:
name7[5] # want to get S at Smith

'S'

In [42]:
name7[13] # accesing last 4

'4'

In [43]:
name7[-1]    # alternaive

'4'

In [44]:
name7[-3]

's'

In [45]:
name7[0:4] # accssing John start index = 0 last index 3, but python skip last one so it will be 4

'John'

In [46]:
name7[5:10]  # accessing Smith

'Smith'

In [47]:
# Accessing Smith by negative indexcing, but it will not work, becuase by default increment/step size +1, will we need to provide -1 to get negative index
name7[-5:-10]

''

In [48]:
name7[-5:-10:-1] # now it works

'htimS'

In [49]:
name7[0:4:2]

'Jh'

In [50]:
name7[0:11:2]

"Jh mt'"

In [53]:
name7

"John Smith's34"

In [55]:
name7[::]

"John Smith's34"

In [56]:
name7[::-1]

"43s'htimS nhoJ"

In [57]:
name7[::2]

"Jh mt'3"

In [60]:
# Summary  [start:end:step]
name7 = "John Smith's34"
name7[0]
name7[5]
name7[13]
name7[-1]
name7[0:4]
name7[5:10]  # accessing Smith
name7[-5:-10]
name7[-5:-10:-1] 
name7[0:4:2]
name7[::-1]
name7[::]
name7[::2]

"Jh mt'3"

# Numbers

In [61]:
num = 25

In [62]:
type(num)

int

In [63]:
num2 = 25.14
num2

25.14

In [64]:
type(num2)

float

In [66]:
num3 = 2+ 3J
num3

(2+3j)

In [67]:
type(num3)

complex

In [68]:
num3.real

2.0

In [69]:
num3.imag

3.0

# Boolean

In [70]:
is_married = True    # can be True or False
type(is_married)

bool

# Type Conversion

### int to float conversion

In [71]:
num

25

In [72]:
float(num)

25.0

In [73]:
num3

(2+3j)

### complex conversion

In [ ]:
float(num3) # Complex number converion not possible, becasue there are 2 parts (Real & Immeginary)
int(num3) # This will return error

### float to int conversion

In [76]:
num2

25.14

In [77]:
int(num2)

25

In [79]:
num4 = 23.56
num4

23.56

In [80]:
int(num4)

23

# Int/Float to Complex

In [1]:
num5 = 25

In [2]:
complex(num5)

(25+0j)

In [3]:
num6 = 25.54
num6

25.54

In [4]:
complex(num6)

(25.54+0j)

In [15]:
complex(int(num6)) # int & complex conversion togehter

(25+0j)

In [7]:
num7 = 25.63
num7

25.63

In [12]:
round(num7)

26

In [13]:
round(num7,0)  # num, decimal place

26.0

In [10]:
round(num7,1) # num, decimal place 1

25.6

In [14]:
round(num7,2) # num, decimal place 2

25.63

# Str/Flot conversion to int

In [18]:
"56"

'56'

In [17]:
int("56")

56

In [19]:
a = "69"
int(a)

69

In [21]:
b = "5784"
float(b)

5784.0

In [ ]:
int("e123") # text  & number convesion not possible here, will retur "Value errro"