## F String Formatting

In [5]:
a = "My Name is Sohel & My Age is 33"
print(a)

My Name is Sohel & My Age is 33

In [6]:
a = "My Name is Sohel & My Age is 33"
a

'My Name is Sohel & My Age is 33'

In [8]:
# Substitution
a = "My Name is %s & My Age is %d"
print(a %("Sujan Mia", 35))

My Name is Sujan Mia & My Age is 35

In [9]:
# Format
name = "Munna"
age = 23
a = "My name is {:s} and Age is {:d}"
print(a.format("Mitu", 28))

My name is Mitu and Age is 28

In [10]:
print(a.format(name, age))

My name is Munna and Age is 23

In [13]:
#f-string formating
#a="My name is Kamal and age 50"

name = "Kamal"
age = 50
weight = 65

a = f"My name is {name}, and age {age}"
print(a)

My name is Kamal, and age 50

In [17]:
quantity=10
price=100

#print(quantity*price)

#a=f"Total {quantity=} {quantity:<20} and {price=} \n {quantity*price=}" # Total price=1000


a = f"Total {quantity:^20} and {price=}\n{quantity*price=} "  # Total Price

print(a)

Total          10          and price=100
quantity*price=1000

In [18]:
weight=52

a=f"My Name is {name} and age {weight:e}"
print(a)

My Name is Kamal and age 5.200000e+01