### Topic

- Pandas
- read data
- Getting Max 
- Days event
- Mean Calculation
- Replacing
- Get columns
- Access Columns

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('weather_data4.csv')
df

         day  temperature  windspeedMPH     event
0   01-01-17           32           7.0     Rainy
1   02-01-17           29          13.0     Sunny
2   03-01-17           27          13.0      Snow
3   04-01-17           34          15.0  No Event
4   05-01-17           17           8.0     Rainy
5   06-01-17           35           7.0     Sunny
6   06-01-17           27           9.0  No Event
7   07-01-17           22          14.0      Snow
8   08-01-17           33           NaN  No Event
9   09-01-17           24          15.0     Rainy
10  10-01-17           30           9.0     Rainy
11  11-01-17           32          15.0     Sunny
12  12-01-17           17          11.0      Snow
13  13-01-17           27          12.0  No Event
14  14-01-17           22           NaN     Rainy
15  15-01-17           17          15.0      Snow
16  16-01-17           15          14.0  No Event
17  17-01-17           22           NaN     Rainy
18  18-01-17           20          14.0     Rainy
19  19-01-17           31          13.0     Sunny
20  20-01-17           29          10.0      Snow
21  21-01-17           29           NaN      Snow
22  22-01-17           21          12.0  No Event
23  23-01-17           20           NaN     Rainy
24  24-01-17           22          10.0     Sunny
25  25-01-17           24           8.0  No Event
26  26-01-17           29          13.0      Snow

### Maximum temperature

In [5]:
df['temperature'].max()

35

### Which days rain happens ?

In [9]:
df['day'][df['event']=='Rainy']

0     01-01-17
4     05-01-17
9     09-01-17
10    10-01-17
14    14-01-17
17    17-01-17
18    18-01-17
23    23-01-17
Name: day, dtype: object

# Data munging / Data Wrangling

- The process of cleaning messy data is called as data munging or data wrangling

### Mean of Windspeed

In [10]:
df['windspeedMPH'].mean()

11.681818181818182

### Replace NaN or missing values with mean

In [11]:
df.fillna(0, inplace=True)
df['windspeedMPH'].mean()

9.518518518518519

In [13]:
df

         day  temperature  windspeedMPH     event
0   01-01-17           32           7.0     Rainy
1   02-01-17           29          13.0     Sunny
2   03-01-17           27          13.0      Snow
3   04-01-17           34          15.0  No Event
4   05-01-17           17           8.0     Rainy
5   06-01-17           35           7.0     Sunny
6   06-01-17           27           9.0  No Event
7   07-01-17           22          14.0      Snow
8   08-01-17           33           0.0  No Event
9   09-01-17           24          15.0     Rainy
10  10-01-17           30           9.0     Rainy
11  11-01-17           32          15.0     Sunny
12  12-01-17           17          11.0      Snow
13  13-01-17           27          12.0  No Event
14  14-01-17           22           0.0     Rainy
15  15-01-17           17          15.0      Snow
16  16-01-17           15          14.0  No Event
17  17-01-17           22           0.0     Rainy
18  18-01-17           20          14.0     Rainy
19  19-01-17           31          13.0     Sunny
20  20-01-17           29          10.0      Snow
21  21-01-17           29           0.0      Snow
22  22-01-17           21          12.0  No Event
23  23-01-17           20           0.0     Rainy
24  24-01-17           22          10.0     Sunny
25  25-01-17           24           8.0  No Event
26  26-01-17           29          13.0      Snow

In [ ]:
new_df4 = df4.replace(['poor','average','good','exceptional'], [1,2,3,4])
new_df4

### Replacing Values

In [15]:
new_df = df.replace(['No Event'], 'Normal')
new_df

         day  temperature  windspeedMPH   event
0   01-01-17           32           7.0   Rainy
1   02-01-17           29          13.0   Sunny
2   03-01-17           27          13.0    Snow
3   04-01-17           34          15.0  Normal
4   05-01-17           17           8.0   Rainy
5   06-01-17           35           7.0   Sunny
6   06-01-17           27           9.0  Normal
7   07-01-17           22          14.0    Snow
8   08-01-17           33           0.0  Normal
9   09-01-17           24          15.0   Rainy
10  10-01-17           30           9.0   Rainy
11  11-01-17           32          15.0   Sunny
12  12-01-17           17          11.0    Snow
13  13-01-17           27          12.0  Normal
14  14-01-17           22           0.0   Rainy
15  15-01-17           17          15.0    Snow
16  16-01-17           15          14.0  Normal
17  17-01-17           22           0.0   Rainy
18  18-01-17           20          14.0   Rainy
19  19-01-17           31          13.0   Sunny
20  20-01-17           29          10.0    Snow
21  21-01-17           29           0.0    Snow
22  22-01-17           21          12.0  Normal
23  23-01-17           20           0.0   Rainy
24  24-01-17           22          10.0   Sunny
25  25-01-17           24           8.0  Normal
26  26-01-17           29          13.0    Snow

### Get Columns

In [17]:
df.columns

Index(['day', 'temperature', 'windspeedMPH', 'event'], dtype='object')

In [18]:
df.day

0     01-01-17
1     02-01-17
2     03-01-17
3     04-01-17
4     05-01-17
5     06-01-17
6     06-01-17
7     07-01-17
8     08-01-17
9     09-01-17
10    10-01-17
11    11-01-17
12    12-01-17
13    13-01-17
14    14-01-17
15    15-01-17
16    16-01-17
17    17-01-17
18    18-01-17
19    19-01-17
20    20-01-17
21    21-01-17
22    22-01-17
23    23-01-17
24    24-01-17
25    25-01-17
26    26-01-17
Name: day, dtype: object

In [19]:
df.temperature

0     32
1     29
2     27
3     34
4     17
5     35
6     27
7     22
8     33
9     24
10    30
11    32
12    17
13    27
14    22
15    17
16    15
17    22
18    20
19    31
20    29
21    29
22    21
23    20
24    22
25    24
26    29
Name: temperature, dtype: int64

In [20]:
df.event

0        Rainy
1        Sunny
2         Snow
3     No Event
4        Rainy
5        Sunny
6     No Event
7         Snow
8     No Event
9        Rainy
10       Rainy
11       Sunny
12        Snow
13    No Event
14       Rainy
15        Snow
16    No Event
17       Rainy
18       Rainy
19       Sunny
20        Snow
21        Snow
22    No Event
23       Rainy
24       Sunny
25    No Event
26        Snow
Name: event, dtype: object